{% extends "base.jinja2" %}

{% block content %}
    <h1>{{category.title}}</h1>
    
    <ul>
    {% for page in all_pages.filter(primary_category=category.uuid)[:20] %}
        <li>{{molecules.article_summary(page)}}</li>    
    {% endfor %}
    </ul>
{% endblock %}
