{% extends "base.jinja2" %}

{% block content %}
        {{molecules.banner_with_image(localisation,'springboard:static/img/000000.png')}}

        {% set featured_pages = all_pages.filter(language=language, featured=True) %}
        {% if featured_pages %}
             <h1>{{gettext('Latest')}}</h1>
             <ul class="list-block">
                {% for page in featured_pages %}
                    <li>{{molecules.article_summary(page)}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for category in all_categories.filter(language=language) %}
            {% set category_pages = all_pages.filter(primary_category=category.uuid) %}
            {% if category_pages %}
                <a href="{{'category'|route_url(uuid=category.uuid)}}/"><h1>{{category.title}}</h1></a>
                <ul class="list-block">
                {% for page in category_pages %}
                    <li>{{molecules.article_summary(page)}}</li>
                {% endfor %}
                </ul>
                <a href="{{'category'|route_url(uuid=category.uuid)}}"><h1>{{gettext('More')}} {{category.title}}</h1></a>
            {% endif %}
        {% endfor %}
{% endblock %}