{% extends "base.jinja2" %}

{% block content %}
    <a href="{{'category'|route_url(uuid=category.uuid)}}"><h1>{{category.title}}</h1></a>
    {% if page.image_host and page.image %}
        <img alt='{{page.title}}' src="{{page.image_host}}{{page.image|thumbor(350)}}"/>
    {% else %}
        <img alt='Test Image' src="{{ 'springboard:static/img/baby-max_2183067b.jpg'|static_url }}"/>
    {% endif %}
    <div class="meta">{{page.created_at|format_date('%d %B %Y')}}</div>
    <h2>{{page.title}}</h2>
    {{page.description|markdown}}
    {{page.content|markdown}}
    
    {% if page.linked_pages %}
    {% set linked_pages = all_pages.filter(uuid=page.linked_pages) %}
        {% if linked_pages %}
            <ul>
            {% for linked_page in linked_pages %}
                <li><a href="{{'page'|route_url(uuid=linked_page.uuid)}}">{{linked_page.title}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
