// Placeholder styles

// .i {
//   display: inline-block;
//   overflow: hidden;
//   text-align: right;
//   text-indent: 100%;
//   background-image: url("/img/icons.png");
//   background-color: transparent;
//   background-repeat: no-repeat;
//   white-space: nowrap;
// }

// .i-specific {
//   background-position: 0 -16px;
//   height: 42px;
//   width: 42px;
//   margin-right: 20px;
// }

.i {
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 30px;
  position: relative;  
}

.i-comment {
  background: transparent url(img/icon-comment-count.png) 0 0 no-repeat;
  top: 11px;
  margin-right: 0.5em
}

.i-comment-alt {
  background-image: url(img/icon-comment-count-red.png);
}

.i-facebook {
  background-image: url(img/icon-facebook.png);
}

.i-twitter {
  background-image: url(img/icon-twitter.png);
}

.i-hamburger {
  height: 20px;
  width: 20px;
  background-image: url(img/icon-hamburger.png);
  margin-left: 2em;
}

.i-close {
  height: 20px;
  width: 20px;
  background-image: url(img/icon-close.png);
}

.i-back {
  height: 20px;
  width: 20px;
  background-image: url(img/icon-back.png);
}